@using SATDash_v0.Models
@{
    ViewBag.Title = "SATBot Prototype Demo";
}
<h1>SATBot Key Feature Demo</h1>
<div>
    This is a demonstration of our bot's ability to:
    <ul>
        <li>Retrieve news articles</li>
        <li>Identify article entities</li>
        <li>Correlate articles to NYSE &Aacute; NASDAQ listed stocks based on entity analysis</li>
    </ul>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>News</th>
                <th>Entities</th>
                <th>Stocks</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Result r in ViewBag.Results)
            {
                <tr>
                    <td>
                        <h4>@r.ArticleName</h4>
                        <p>@r.ArticleDescription</p>
                    </td>
                    <td>
                        @for(int i = 0; i < r.EntityType.Count() && i < r.EntityValue.Count(); i++)
                        {
                            <div>
                                @r.EntityValue[i]<br />
                                Type: @r.EntityType[i]
                                <hr />
                            </div>
                        }
                    </td>
                    <td>
                        @r.StockSymbol - @r.CompanyName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
